$primaryColor: #ed1164;
$secundaryColor: #91a3ad;

$lightGreyColor: #ffebf24d;
$mediumGreyColor: #91a3ad;
$mediumGreyWithOpacityColor: #91a3ad1c;
$darkGreyColor: #575757;

$errorColor: #eddb28;

$mediaQueryDesktop: 954px;
