@import "./config.scss";

.container-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(145, 163, 173, 0.15);

  .logo {
    width: 89px;
  }

  button {
    display: none;
  }

  div {
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.01em;
      color: $primaryColor;
      margin-right: 8px;
    }
  }

  @media screen and (min-width: $mediaQueryDesktop) {
    padding: 28px 100px;

    .logo {
      width: 118px;
    }

    button {
      align-items: center;
      display: flex;
      height: 45px;
      strong {
        font-size: 22px;
        margin-right: 8px;
      }
    }

    div {
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $primaryColor;
        margin-right: 24px;
      }

      img {
        cursor: pointer;
      }
    }
  }
}
